//
// using template https://bootswatch.com/lumen/
//@import 'variables';
@import 'bootstrap.min.css';
//@import 'bootswatch';

body {
    background-color: lightgray;
}

.book-card {

    background-color: rgb(216, 240, 241);
    border: 1px solid black;
}
