{% extends 'base.html.twig' %}

{% block title %}Bienvenue !!{% endblock %}

{% block body %}
<a href="{{ path('author_index') }}" class="btn btn-primary">Les auteurs référencés</a>
<a href="{{ path('book_index') }}" class="btn btn-primary">Les oeuvres référencées</a>
{% endblock %}
