{% extends 'base.html.twig' %}

{% block title %}Bienvenue !!{% endblock %}

{% block body %}
<div class="container mt-5">
	<a href="{{ path('author_index') }}" class="btn btn-primary">Les auteurs référencés</a>
	<a href="{{ path('book_index') }}" class="btn btn-primary">Les oeuvres référencées</a>
</div>
{% endblock %}
